@font-face {
    font-family: 'NeoSansIntel';
    src: url('../fonts/NeoSansIntel.ttf');
}

@font-face {
    font-family: 'NeoSansIntel-Italic';
    src: url('../fonts/NeoSansIntel-Italic.ttf');
}

@font-face {
    font-family: 'NeoSansIntel-Light';
    src: url('../fonts/NeoSansIntel-Light.ttf');
}

@font-face {
    font-family: 'NeoSansIntel-LightItalic';
    src: url('../fonts/NeoSansIntel-LightItalic.ttf');
}

@font-face {
    font-family: 'NeoSansIntel-Medium';
    src: url('../fonts/NeoSansIntel-Medium.ttf');
}

@font-face {
    font-family: 'NeoSansIntel-MediumItalic';
    src: url('../fonts/NeoSansIntel-MediumItalic.ttf');
}

@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.otf');
}

body {
	font-family: 'NeoSansIntel';
	margin: 0;
	padding: 0;
	background: url('../img/bg.jpg');
	background-size: cover;
	color: #fff;
}

header {
	text-align: center;
}

h2 {
	margin; auto;
	color: #fff;
}

.gallery {
/*	background-image: url('../img/image_2.jpg');
	background-size: cover;
	background-position: 100%;*/
	height: 500px;
}

.container {
	margin-top: 10px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	margin: auto;
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}

.carousel-control, .carousel-control.left, .carousel-control.right {
	background-image: none;
	width: 480px;
	top: -80px;
}

.carousel-inner>.item {
	height: 500px;
}

.carousel-inner {
	margin-top: 10px;
}

.carousel-caption {
	padding-bottom: 0px;
}

.carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
.carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
.carousel-indicators img {
    border: 1px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
.carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}
.thumb-list {
	text-align: center;
	list-style: none;
}

.thumb-list>li {
	display: inline-block;
}

.thumb-list>ul>li>img {
	width: 40px;
	height: 40px;
}